<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="Testes Ultra LIMS">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>